<ol>
  {{#each results}}
  {{#if done}}
    <span class="struck">
  {{/if}}
  <li>
    <a href="todos/{{id}}"> {{description}}</a>
  </li>
  {{#if done}}
    </span>
  {{/if}}
  {{/each}}
  <br> <br> <br>
  <button class="button-style">
  <a href="todos/form">Click here to add a task</a>
  </button>
  <button class="button-style">
  <a href="/todos/delete/">Click here to delete all tasks</a>
  </button>
</ol>
